.b-connection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.b-connection__text {
  width: 381px;
  margin: 20px 0 0 20px;
}
@media (max-width: 818px) {
  .b-connection {
    flex-direction: column;
  }
  .b-connection__text {
    width: auto;
    max-width: 100%;
  }
  .b-connection__text {
    width: 100%;
    margin: 0;
  }
  .b-connection {
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .b-connection__text .b-paragraph-large {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .b-connection__text .b-paragraph {
    font-size: 13px;
    margin-bottom: 25px;
  }
  .b-connection {
    margin-right: 0;
  }
}