* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f7;
}

.b-header {
  background-color: #f4f4f7;
  width: 1180px;
  margin: 0 auto; 
}
.b-header__navigation {
  display: flex;
  align-items: center;
  padding-top: 30px;
  margin: 0 auto;
  margin-bottom: 80px;  
}
.b-container {
  width: 780px;
  margin: 0 auto;  
}
.b-container__middle{
  width: 980px;
}
.b-menu--header{
  display: flex;
  justify-content: space-between;
}
.b-main {
  background-color: #f4f4f7;
}
.b-icon {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #f4f4f7;
  border-radius: 100%;
}
.b-icon--little {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-right: 115px;
}
.b-language {
  display: flex;
  justify-content: flex-end;
  list-style: none;  
  margin-right: 30px;
}
.b-language__item { 
  width: 40px;
  height: 40px;   
  border-radius: 50%;  
  position: relative;
  margin-right: 15px;  
}
.b-language__item { 
  width: 40px;
  height: 40px;   
  border-radius: 50%;  
  position: relative;
  margin-right: 15px;  
}
.b-language__link { 
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.33;
  color: #2d2d42;
  text-decoration: none;
  display: block;
  margin: 0;  
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%) ;    
}
.b-language__item:hover {	
  border: solid 1px  rgba(45,45,66,0.2);
}
.b-language__item:active {	
  border: solid 1px rgb(255, 255, 255);
}
.b-menu__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.b-menu__item{
  display: inline-block;
  line-height: 40px;  
}
.b-menu__link {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2d2d42;
  text-decoration: none;
  margin-right: 55px;
  vertical-align: middle;
  display: inline-block;
}
.b-menu__link:hover {
  border-bottom: 1px solid #a0a0aa;  
} 
.b-title {
  color: #f4f4f7;
  font-family: Roboto-Black;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
  max-width: 780px;
  margin-bottom: 30px;
}
.b-title--label {
  font-family: Roboto-Black;
  font-size: 13px;
  letter-spacing: 1.73;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: inline-block;
  color: #2d2d42;
}
.b-title--map-bel {
  color: #2d2d42;
}
.b-title-contact {
  color: #2d2d42;
}
.b-paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2d42;
}
.b-paragraph-contact {
  margin-bottom: 100px;
  max-width:680px;
}
.b-contact-map {
  position: relative;
  max-width: 1180px; 
  margin: 0 auto;
}
.b-contact-map__map{
  height:640px;
}
.b-contact-map--indent {
  padding-bottom: 90px;
  background-color: #ffffff;
}
.b-contaÑt-map__block {
  position: absolute;
  top: 100px;
  left: 200px;
  max-width: 780px;
  height: 459px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.b-title--map-nor {
  color: #2d2d42;
}
.b-title--map-bel {
  color: #2d2d42;
}
.b-paragraph--map {
  color: #2d2d42;
}
.b-contact {
  width: 1180px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 0 80px 0;
}
.b-contact__minsk {
  margin-bottom: 100px;
}
.b-contact__contain {
  margin: 0 auto;
}
.b-contact__contain {
  display: flex;
  flex-wrap: wrap;
}
.b-contact-list {
  list-style: none;
  width: 398px;
}
.b-contact-list__line {
  margin-bottom: 23px;
}
.b-contact__link {
  color: #64cae1;
  text-decoration: none;
}
.b-messenger {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
}
.b-messenger__in,
.b-messenger__face,
.b-messenger__inst {
  list-style: none;
  margin-bottom: 23px;
  display: flex;
}
.b-messenger__in::before {
  content: "";
  background: url(../img/contacts/ic-linkedin.svg) no-repeat;
  padding-right: 24px;
  width: 21px;
  height: 21px;
}
.b-messenger__face::before {
  content: "";
  background: url(../img/contacts/ic-facebook.svg) no-repeat;
  padding-right: 24px;
  width: 21px;
  height: 21px;
}
.b-messenger__inst::before {
  content: "";
  background: url(../img/contacts/ic-instagram.svg) no-repeat;
  padding-right: 24px;
  width: 21px;
  height: 21px;
}
.b-messenger__link {
  color: #64cae1;
  text-decoration: none;
  display: inline-block;
  width: 135px;
}

.b-contact-people {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.b-contact-faces--indent {
  margin-right: 210px; 
  width: 180px;
}
.b-icon--people {
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.b-icon--people>img:hover {
  width: 110%;   
  transition-duration: 0.5s;
}
.b-img {
  width: 100%;
  object-fit: cover;
  display: inline-block;
}
.b-faces-name {
  font-family: Roboto-Black;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2d42;
}
.b-specialty {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #93a4a9;
}
.b-footer {
  background-color: #2d2d42;
  width: 100%;
  margin: 0 auto;
}
.b-container__footer-contact {
  max-width: 980px;
  margin: 0 auto;
  padding: 100px 0 0 100px;
}
.b-title__footer {
  margin-bottom: 110px;
}
.b-connection {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}
.b-form {
  background-color: #2d2d42;
}
.b-form__name {
  display: flex;
  flex-direction: column;
  position: relative;
}
.b-form__name {
  position: relative;
}
.b-form__email {
  position: relative;
}
.b-form__phone {
  position: relative;
}
.b-form__input {
  background-color: transparent;
  width: 391px;
  height: 71px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f4f4f7;
  border: none;
  border-bottom: 1px solid rgba(192, 198, 200, 0.2);
}
.b-form__input:hover {
  border-bottom: 1px solid #c0c6c8;
}
.b-form__textarea {
  display: flex;
  flex-direction: column;
}
.b-form__label {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #f4f4f7;
  margin-bottom: 30px;
}
.b-form__input-textarea {
  background-color: transparent;
  border: none;
  width: 391px;
  height: 200px;
  resize: none;
}
.b-form__input-textarea:hover {
  border: none;
}

.b-form__input::placeholder,
.b-form__input--textarea::placeholder {
  color: #f4f4f7;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}
.b-form__input:focus,
.b-form__input--textarea:focus {
  outline: none;
}
.b-form__input + .b-label {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f4f4f7;
}

.b-form__input + .b-label--name {
  position: absolute;
  left: 0;
  top: 20px;
}

.b-form__input + .b-label--email {
  position: absolute;
  left: 0;
  top: 20px;
}

.b-form__input + .b-label--phone {
  position: absolute;
  left: 0;
  top: 20px;
}

.b-form__input:focus + .b-label,
.b-form__input:not(:focus):valid ~ .b-label {
  opacity: 0.5;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.67;
  color: #f4f4f7;
  position: absolute;
  left: 0;
  transform: translateY(-20px);
  transition-duration: 0.35s;
}
.b-paragraph-large {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2d2d42;
}
.b-paragraph-large--footer {
  margin-bottom: 35px;
  color: #f4f4f7;
}
.b-button-sibmit {
  display: inline-block;
  font-size: 20px;
  border: none;
  text-decoration: none;
  color: #f4f4f7;
  position: relative;
  background-color: #64cae1;
  opacity: 0.9;  
}
.b-button-sibmit:focus {
  outline: none;
}
.b-connection__text {
  width: 381px;
  margin: 20px;
}
.b-title__footer-contact {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f4f4f7;
  margin-bottom: 30px;
}
.b-paragraph--footer {
  color: #f4f4f7;
}
.b-footer-send {
  
  margin: 0 auto;
  display: flex;
}
.b-footer__list {
  display: none;
}
.b-button {
  display: inline-block;
  width: 580px;
  height: 80px;
  font-size: 20px;
  padding: 25px 50px 25px 100px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: #f4f4f7;
  position: relative;
  background-color: #64cae1;  
  cursor: pointer;
}
.b-button::after {
  content: "";
  background: url(../img/contacts/ic-next.png) no-repeat center/cover;
  width: 30px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}
.b-footer__copyright {
  display: flex;
  color: #f4f4f7;
  flex-grow: 1;
  align-items: center;
  padding-left: 118px;
  font-size: 20px;
}
.b-footer__copyright-text {
  padding: 24px 0;
}
