* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f7;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a:hover {
  color: white;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.8;
}

.b-catalog__link:hover, 
.b-info__text-link:hover,
.b-info__link:hover,
.b-news-block__link:hover {
  color: #2d2d42;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.8;
}

.b-info__link--accent:hover,
.b-footer__link:hover {
  color: white;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  opacity: 0.8;
}


.b-header {
  background-color: rgba(0, 0, 0, 0.4);
  background: url(../img/home/bg-header.png) no-repeat;
  background-size: cover;
  max-width: 1180px;
  /*height: 680px;*/
  margin: 0 auto;
  margin-bottom: 100px;
}

.b-header__navigation {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding-top: 40px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.b-container {
  max-width: 780px;
  margin: 0 auto;
}
/* три новых  */
.b-container__middle{
  width: 980px;
}
.b-menu--header{
  display: flex;
  justify-content: space-between;
}
.b-main {
  background-color: #f4f4f7;
}

/*--------Переключатель языка--------*/
.b-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.b-icon--little {
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-right: 115px;
}

/*.b-language {
  display: flex;
  justify-content: flex-end;
}*/
  #menu__toggle{
    display:none;
  }
  .b-humburger-menu__btn {
    display:none;
  }
  .b-humburger-menu__btn-line {
    display:none;
  }
.b-language {
  display: flex;
  justify-content: flex-end;
  list-style: none;  
  margin-right: 30px;
}

/*.b-language--home {
  margin-right: 47px;
}*/

/* новый  */
.b-language__item { 
  width: 40px;
  height: 40px;   
  border-radius: 50%;  
  position: relative;
  margin-right: 15px;  
}

/*.b-language__link {
  width: 20px;
  height: 20px;
  margin: 10px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.33;
  color: #f4f4f7;
  text-decoration: none;
}*/

.b-language__link { 
  font-family: Roboto;
  font-size: 15px;
  line-height: 1.33;
  color: #f4f4f7;
  text-decoration: none;
  display: block;
  margin: 0;  
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%) ;  
}

/*.b-language__link--active {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px rgba(255, 255, 255, 0.2);
}

/*.b-language__link:hover {
	margin: 0 15px 5px;
	width: 40px;
 	height: 40px;
 	padding: 10px;
 	border-radius: 50%;
 	border: solid 1px rgba(255, 255, 255);
}

.b-language__link:active {
	margin: 0 15px 5px;
	width: 40px;
 	height: 40px;
 	padding: 10px;
 	border-radius: 50%;
 	border: solid 1px rgba(255, 255, 255, 0.2);
}*/

.b-language__item:hover { 
  border: solid 1px  rgba(45,45,66,0.2);
}
.b-language__item:active {  
  border: solid 1px rgb(255, 255, 255);
}

.b-icon--little-mobile{
    display: none;    
  }
/* -------------------------------------------- */

.b-menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.b-menu__link {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #f4f4f7;
  text-decoration: none;
  margin-right: 50px;
}

.b-title {
  color: #f4f4f7;
  font-family: Roboto-Black;
  font-size: 60px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.08;
  letter-spacing: -0.75px;
}

.b-title--header {
  margin-bottom: 30px;
}

.b-paragraph {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f4f4f7;
}

.b-paragraph--header {
  padding-right: 130px;
}

.b-container--header {
  margin-bottom: 80px;
}

.b-button {
  display: inline-block;
  width: 580px;
  font-size: 20px;
  padding: 25px 50px 25px 200px;
  border: solid 1px rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: #f4f4f7;
  position: relative;
}

.b-button::after {
  content: "";
  background: url(../img/home/ic-arrow.svg) no-repeat center/cover;
  width: 30px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 50px;
  color: rgba(255, 255, 255, 0.1);
  transform: translateY(-50%);
  
}

/*--------О нас(about us)-------*/
.b-about-us {
  max-width: 1180px;
  background-color: #fff;
  margin: 0 auto;
  padding: 90px 0 125px;
  margin-bottom: 100px;
}

.b-title--section {
  color: #2d2d42;
  margin-bottom: 30px;
}

.b-paragraph-large {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #2d2d42;
}

.b-paragraph-large--about-us {
  margin-bottom: 85px;
}

.b-group-icon-text {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.b-group-icon-text--home {
  max-width: 900px;
  margin-bottom: 50px;
  margin-right: -120px;
}

.b-icon-text {
  max-width: 300px;
  margin-bottom: 20px;
  margin-right: 60px;
}

.b-icon--project {
  background-color: #63c9e0;
}
.b-icon--home {
  margin-bottom: 30px;
}
.b-icon--hire {
  background-color: #f47e3d;
}
.b-icon--digital {
  background-color: #d04b9b;
}

.b-icon--big {
  width: 90px;
  height: 90px;
}

.b-icon-paragraf {
  width: 240px;
  font-family: Roboto-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #2d2d42;
}

/*--------Список--------*/

.b-title--about-us {
  color: #c0c6c8;
  margin-bottom: 75px;
}

.b-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 1.5;
  column-count: 2;
  color: #2d2d42;
}

.b-list--about-us {
  margin: 0 auto;
  margin-right: -300px;
  max-width: 1180px;
}

.b-list__item {
  margin-bottom: 25px;
  margin-right: 200px;
  position: relative;
  max-width: 380px;
}

.b-list__item::before {
  content: "";
  position: absolute;
  left: -60px;
  top: 50%;
  width: 30px;
  height: 1px;
  background: #64cae1;
}

.b-button--hidden {
  display: none;
}
/*--------Our Work-------*/

.b-our-work {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.b-title--our-work {
  color: #2d2d42;
  margin-bottom: 25px;
}

.b-paragraph-large--our-work {
  margin-bottom: 90px;
}

.b-picture {
  max-width: 1180px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.b-our-work__card {
  position: relative;
  margin-bottom: 20px;
}

.b-info {
  width: 380px;
  height: 380px;
  padding: 40px 20px 35px 40px;
  background-color: #64cae1;
}

.b-info--our-work {
  position: absolute;
  top: 200px;
  left: 200px;
}
.b-info__link {
  text-decoration: none;
  color: #2d2d42;
}

.b-title--label {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 40px;
  display: inline-block;
  color: #2d2d42;
}

.b-info__text {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  max-height: 200px;
}

.b-info__text::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

.b-info__text::-webkit-scrollbar-button {
  background-color: transparent;
}
.b-info__text::-webkit-scrollbar-track-piece{
  background-color: #fff;
}

.b-info__text-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #2d2d42;
}

.b-info__link--accent {
  color: #f4f4f7;
}

.b-catalog {
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.b-catalog__item {
  max-width: 580px;
  margin-bottom: 75px;
}

.b-img--selected:hover {
  opacity: 0.5;
  -webkit-transition: ease-in 0.25s;
  -moz-transition: ease-in 0.25s;
  -o-transition: ease-in 0.25s;
  transition: ease-in 0.25s;
}

.b-picture--catalog {
  margin-bottom: 40px;
}

.b-paragraph-large--catalog {
  width: 440px;
}

.b-title--catalog {
  margin-bottom: 30px;
}

.b-picture--little {
  max-width: 580px;
  height: 320px;
}

.b-catalog__link {
  font-family: inherit;
  text-decoration: none;
  color: #2d2d42;
}

.b-info--team {
  background-color: #f4f4f7;
  position: absolute;
  top: 200px;
  right: 200px;
}

.b-title--team {
  margin-bottom: 50px;
}



/*--------Inside Frontbyte-------*/

.b-inside-frontbyte {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.b-title--inside-frontbyte {
  color: #2d2d42;
  margin-bottom: 25px;
}

.b-paragraph-large--inside-frontbyte {
  margin-bottom: 90px;
}

.b-inside-frontbyte__block {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.b-info--slider {
  /*display: flex;
  flex-direction: column;*/
  width: 400px;
  background-color: #f4f4f7;
  /*z-index: 1000;
  order: -1;
  padding: 0;*/
  padding-top: 45px;
  position: relative;
}


.b-img--info:hover {
  transform: scale(1.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.b-picture--small {
  max-width: 980px;
  height: 600px;
}

/*.b-picture--inside {
  transform: translateX(100px);
  align-items: flex-end;
}*/

.b-title--position {
  margin-bottom: 30px;
}

.b-picture--tiny {
  max-width: 50px;
  height: 26px;
  position: absolute;
  bottom: 47px;
}

/*.b-info__text--slider
	margin-bottom: 50px;
}*/

/*слайдер
.b-slider .slick-list {
  height: 600px !important;
}

.b-slider .slick-track {
  display: flex;
  align-items: flex-start;
}

.b-slider .slick-list {
  overflow: hidden;
}

.b-slider .slick-dots {
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 15px;
  left: 0;
  cursor: pointer;
}

.b-slider .slick-dots li {
  list-style-type: none;
  margin-right: 9px;
}

.b-slider .slick-dots button {
  font-size: 0;
  width: 65px;
  height: 1px;
  padding: 0;
  border: 0;
  z-index: 20;
  background-color: #c0c6c8;
}

.slick-slide:focus {
  outline: none;
}
.b-slider .slick-dots > .slick-active button:focus {
  outline: none;
}
.b-slider .slick-dots > .slick-active button {
  background-color: #2d2d42;
}


/*------------------------------Новый слайдер--------------------*/

.b-slider {
  position: relative;
  bottom: 45px;
  top: 0;
  z-index: 10;
  outline: none;
}

.b-slider__image {
  margin-left: auto;
  margin-right: 0;
  max-width: 980px;
  max-height: 600px;
  z-index: 0;
}

.b-slider__image .slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-slide:focus {
  outline: none;
}

.b-slider__content {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 380px;
}

.b-slider__content .slick-track {
  display: flex;
  align-items: flex-start;
}

.b-slider__image .slick-list {
  overflow: hidden;
}

.b-slider__content .slick-list {
  overflow: hidden;
}

.b-slider__content .slick-arrow {
  position: absolute;
  bottom: 0%;
  z-index: 15;
  font-size: 0;
  width: 20px;
  height: 21px;
  cursor: pointer;
}

.b-slider__image .slick-arrow {
  position: absolute;
  z-index: 0;
  font-size: 0;
}

.b-slider__image .slick-dots {
  display: flex;
  align-items: flex-start;
  position: relative;
  top: 13px;
  left: -1000px;
  opacity: 0;
}

.b-slider__content .slick-dots {
  display: flex;
  align-items: flex-start;
  position: relative;
  bottom: 15px;
  left: 40px;
  cursor: pointer;
}

.b-slider__content .slick-dots li {
  list-style-type: none;
  margin-right: 5px;
}

.b-slider__image .slick-prev {
  display: none;
  outline: none;
  background: url("../img/home/ic-left.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__image .slick-next {
  display: none;
  outline: none;
  background: url("../img/home/ic-right.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__content .slick-prev {
  outline: none;
  background: url("../img/home/ic-left.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}

.b-slider__content .slick-next {
  outline: none;
  background: url("../img/home/ic-right.svg") 0 0 / 100% no-repeat;
  border: 0;
  opacity: 0;
}


.b-slider__content .slick-dots button {
  font-size: 0;
  width: 60px;
  height: 1px;
  padding: 0;
  border: 0;
  z-index: 20;
  background-color: #c0c6c8;
}

.b-slider__content .slick-dots li:hover {
  transform: scaleY(1);
  -webkit-transition: 1.5s;
  -moz-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
}

/*.b-slider__content .slick-arrow.slick-disabled {
  opacity: 0;
}*/

.b-slider .slick-dots > .slick-active button:focus {
  outline: none;
}
.b-slider .slick-dots > .slick-active button {
  background-color: #2d2d42;
}

/*Блок новостей*/
.b-news {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.b-news-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -120px;
}

.b-news-block__link {
  text-decoration: none;
  font-size: 20px;
  color: #2d2d42;
}

.b-data-time {
  font-size: 15px;
  color: #93a4a9;
  line-height: 1.33;
  font-weight: 300;
}

.b-paragraph--news {
  color: #2d2d42;
  margin-bottom: 20px;
}

.b-news-block__content {
  max-width: 280px;
  margin-right: 120px;
  margin-bottom: 40px;
}

.b-title--news {
  margin-bottom: 55px;
}

/* ----------footer---------- */
.b-footer-index {
  max-width: 1180px;
  margin: 0 auto;
  background: #000000 url(../img/home/map-big.svg) no-repeat left 250px top
    180px / 903px 440px;
}
.b-footer__connection {
  display: flex;
  flex-direction: row;
  padding: 100px 0 0 0;
}
.b-connection__info {
  max-width: 380px;
  margin-bottom: 90px;
}
.b-title--footer {
  margin-bottom: 75px;
}

.b-connection__location {
  transform: translate(120px, 20px);
  /*position: absolute;
  left: 63%;
  top:28%;*/
}

.b-social {
  display: flex;
  justify-content: space-around;
}

.b-social__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  background: url(../img/home/sprite_social.jpg);
  background-size: 2000%;
  border: 1px solid #000;
  margin-right: 25px;
}
.b-social__link:nth-child(1) {
  background-position: -228px -14px;
}
.b-social__link:nth-child(2) {
  background-position: -18px -14px;
}
.b-social__link:nth-child(3) {
  background-position: -59px -13px;
}
.b-adress {
  display: flex;
  max-width: 880px;
  justify-content: flex-start;
  margin-bottom: 75px;
}
.b-adress__norw {
  max-width: 380px;
  margin-right: 190px;
}
.b-adress__title {
  font-family: Roboto-Bold;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #f4f4f7;
  margin-bottom: 25px;
}
.b-paragraph--small {
  font-size: 15px;
  word-wrap: break-word;
}
.b-adress__text-link {
  color: #64cae1;
  text-decoration: none;
}
.b-adress__bel {
  max-width: 380px;
}
.b-footer-send {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
}
.b-button--colored {
  background-color: #64cae1;
}

.b-paragraph--footer {
  opacity: 0.5;
  padding: 25px 0 0 120px;
}

.b-footer__list {
  display: none;
}

/* --------------------- */
.b-line {
    display: none;
  }

.b-catalog__text--hidden {
  display: none;
}